
.tag {
    color: inherit;
    font-weight: normal;
    display: inline-block;
    border: 1px solid #aaa;
    padding: .1em .5em;
    margin: 0 .06em .06em;
    border-radius: .3em;
    font-size: .8em;
}

.resume {
    border: none;
    tr:nth-child(even) {
        background-color: transparent !important;
        border: none;
    }
    td {
        border: none;
        vertical-align: top;
    }
}